.box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
/*     
    border: 5px solid rgb(66, 77, 136); */
    margin: 5% 5%  ;   
    margin-top: 5%;
     background-color: white;
}
.navbar{position: relative;}

.header-heading{
    font-size: 5.55rem/* 36px */;
    line-height: 5.5rem/* 40px */;
    padding-left: 1.55rem/* 50px */;
    padding-right: 1.55rem/* 50px */;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(30 64 175 / var(--tw-text-opacity));

}

.question-box{
    width: 90%;
    margin: 10px 50px;
    padding-left: 50px;
    /* border: 5px solid black; */
    display: flex;
    background-color: white;
    align-items: center;


}

.q{
    font-size: 50px;
    color: darkblue;
    font-weight: 700; background-color: white;


}
.question{
    /* margin-left: 10%; */
    /* margin-top: 5px; */
    font-size: 15px;
    color: black;
    font-weight: 500;
    height: 50%;
    /* border: 5px solid black; */
   
}
.answer{
    
    height: 40%;
    margin: 10px 5px;
    width: 90%;
    padding: 10px 0;
/* 
    border: 1px solid black; */
   
}

.submit{
    width: 10%;
    height: 100%;
    border: none;
    gap: 10%;
    /* border: 5px solid black; */
   justify-content: space-between;
   align-items: center;
    display: flex;
    flex-wrap: wrap;

}
.Btn{
    width: 8%;
    /* border: 5px solid black; */
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color:darkblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin:0 2%;

}
.userBtn{
    /* background-color: blue; */
    cursor: pointer;
    height: 70%;
    color: darkblue;
    font-weight: 600;
    margin-left: 2%;
  
}

.userBtn:hover{
        opacity: 0.8;
        text-decoration: underline;
}

    .sub-container{
        border: 10px solid blue;
        display: flex;
        flex-wrap: wrap;
        
    }
.image{
    border: 2px solid grey;
    width: 12%;
    height: 15vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

    
}

.button{
    /* border: 2px solid black; */
    width: 40%;
    margin-top: 2%;
    height: 15vh;
    display: flex;
    margin-left: 5%;
    justify-content: space-around;
}

.btn-1{
    background-color: rgb(73, 73, 227);
    margin: 15% 0 15% 0 ;
    height: 5vh;
    width: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


